* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    font-family: 'Oxygen', sans-serif;
}
#social {
    background-color:black ;
    color: #fff;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}
font {
    float: left;
    letter-spacing: 2px;
}
span {
    font-size: 12px;
    letter-spacing: 1px;
}
#social>i {
    margin-right: 15px;
}
#social>i:hover {
    opacity: 0.8;
    cursor: pointer;
}
#container {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
header {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 15);
    position: relative;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    background: black;
    margin-bottom: 5px;
}
#headerResim {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}
#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section {
    width: 100%;
    height: auto;
    background: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 15);
    margin-top: 15px;
    overflow: auto;
}

nav {
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}
nav ul {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}
nav ul li a:hover {
    color: #fff;
    background: #adadad;
}
i {
    margin-right: 10px;
}
main {
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
.icerik {
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 15);
    margin-bottom: 15px;
}
.rsm {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
}
.rsm:hover {
    opacity: 0.6;  
    cursor: pointer;  
}
h5 {
    margin: 10px;
    color: dimgray;
}
.icerikText {
    margin: 10px;
    color: dimgray;
}
.btnDevam {
    display: block;
    text-decoration: none;
    width: 150px;
    height: 45px;
    padding: 10px 18px;
    background: blue;
    color: #fff;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}
.btnDevam:hover {
    opacity: 0.7;
}

footer {
    width: 100%;
    height: 75px;
    background: black;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 15);
}
h1 {
    text-align: center;
    background: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 15);
}
#hakkimizdaRsm {
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin: 25px 25px 15px 10px;
    transition: opacity 0.8s;
}
#hakkimizdaRsm:hover {
    opacity: 0.6;
    cursor: pointer;
}
.hakYazi {
    margin-right: 15px;
    font-size: 15px;
    font-family: Cambria;
    text-indent: 40px;
    color: #494949;
}